<div class="post-panel">
    <h2 class="post-heading"><a href="#post">Heading 2</a></h2>
    <p class="post-details">Written by <span><strong>Abc</strong></span> on <span>date</span> in <strong>sub 1, sub 2</strong> with 8 comments</p>
    <p class="lead">lorip the heelo world because it's awesome and I am checking my code to see if it's working or not
    If it is working then I will be very happy otherwise I have to debug and see what is the error</p>
    <div class="post-footer">
      <div class="row">
        <div class="col-md-6">
                share: icon1, icon2, icon3.
        </div>
        <div class="col-md-6 text-right">
            <a> ReadMore </a>
        </div> 
      </div>
    </div>
 </div>
 <div class="post-panel">
    <h2 class="post-heading"><a href="#post">Heading 2</a></h2>
    <p class="post-details">Written by <span><strong>Abc</strong></span> on <span>date</span> in <strong>sub 1, sub 2</strong> with 8 comments</p>
    <p class="lead">lorip the heelo world because it's awesome and I am checking my code to see if it's working or not
    If it is working then I will be very happy otherwise I have to debug and see what is the error</p>
    <div class="post-footer">
    <div class="row">
        <div class="col-md-6">
                share: icon1, icon2, icon3.
        </div>
        <div class="col-md-6 text-right">
            <a> ReadMore </a>
        </div> 
      </div>
    </div>
 </div>

 <div class="post-panel">
    <h2 class="post-heading"><a href="#post">How to invest in mutual fund and grow your money</a></h2>
    <p class="post-details">Written by <span><strong>Abc</strong></span> on <span>date</span> in <strong>sub 1, sub 2</strong> with 8 comments</p>
    <p class="lead">lorip the heelo world because it's awesome and I am checking my code to see if it's working or not
    If it is working then I will be very happy otherwise I have to debug and see what is the error</p>
    <div class="post-footer">
     <div class="row">
        <div class="col-md-6">
                share: icon1, icon2, icon3.
        </div>
        <div class="col-md-6 text-right">
            <a> ReadMore </a>
        </div> 
      </div>
    </div>
 </div>