<div class="post-desc">
<h1><strong>This the the post template</strong></h1>
<p class="post-details">Written by <span><strong>Abc</strong></span> on <span>date</span> in <strong>sub 1, sub 2</strong> with 8 comments</p>
<p class="post-body">
lorip the heelo world because it's awesome and I am checking my code to see if it's working or not
    If it is working then I will be very happy otherwise I have to debug and see what is the error<br />

    The main reason behind this is to create a new template that could be used to create interactive webpage.
</p>
</div>